<div class="mcr-titleBar"> Malheur County Records </div>
<div class="mcr-nav">
	<ul>
	  <li><a href="adrianc.html">Adrian Monument</a></li>
	  <li><a href="Beulahc.html">Beulah Cemetery</a></li>
	  <li><a href="Broganc.html">Brogan Cemetery</a></li>
	  <li><a href="Dellc.html">Dell Cemetery</a></li>
	  <li><a href="evergc.html">Evergreen Cemetery</a></li>
	  <li><a href="Fairviewc.html">Fairview Cemetery</a></li>
	  <li><a href="fairviewcemetery.pdf">Fairview Cemetery</a>-Updated (PDF File)</li> 
	  <li><a href="Harperc.html">Harper Cemetery</a></li>
	  <li><a href="ironsidec.html">Ironside Cemetery</a></li>
	  <li><a href="jordanvalleyc.html">Jordan Valley Cemetery</a></li>
	  <li><a href="littlefieldc.html">Littlefield Cemetery</a></li>
	  <li><a href="Malheurcityc.html">Malheur City Cemetery</a></li>
	  <li><a href="newjuntura.html">New Juntura Cemetery</a></li>
	  <li><a href="nyssa.html">Nyssa Cemetery</a></li>
	  <li><a href="oldjuntura.html">Old Juntura Cemetery</a></li>
	  <li><a href="owyheec.html">Owyhee Cemetery</a></li>
	  <li><a href="pioneeroc.html">Pioneer Cemetery - Ontario</a></li>
	  <li><a href="pioneervc.html">Pioneer Cemetery - Vale</a></li>
	  <li><a href="riverside.html">Riverside Cemetery</a></li>
	  <li><a href="succorcreekc.html">Succor Creek</a></li>
	  <li><a href="sunsetc.html">Sunset Cemetery</a></li>
	  <li><a href="valleyviewc.html">Valley View Cemetery</a></li>
	  <li><a href="watsonc.html">Watson Cemetery</a></li>
	  <li><a href="westfallc.html">Westfall Cemetery</a></li>
	  <li><a href="miscgrav.html">Miscellaneous Graves</a>
	</ul>
	<ul>
	   <li><a href="deathnotices.htm">Abstracts of Death Records</a></li>
	</ul>
</div>
